* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: $font-primary;
    background-color: getColor(lightgrey);
}

h1,h2,h3,h4{
    font-family: $font-headings;
}

.container{
    margin: 0 auto;
    width: 90%;
}

.container-flex{
    display: flex;
    // align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}