nav{
    padding: 10px 0;
    
    .logo{
        font-family: $font-headings;
        font-weight: bold;
        font-size: 32px;
    }
    a{
        text-decoration: none;
        color: black
    }

    .container{
        @extend .container-flex;
    }
    ul{
        margin: 0;
    }

    li{
        list-style: none;
        display: inline;
        padding: 0 5px;
        margin: 0 10px;
        font-size: 22px;
        
        &:hover{
            border-bottom: solid 4px map-get($borders, green);
            border-radius: 2px;
        }
    } 
    
}