nav{
    padding: 15px 0;
    background-color: getColor(white) ;
    
    .logo{
        font-family: $font-headings;
        font-weight: bold;
        font-size: 26px;
    }
    a{
        text-decoration: none;
        color: getColor(darkgrey);
    }

    .container{
        @extend .container-flex;
    }
    ul{
        margin: 0;
    }

    li{
        list-style: none;
        display: inline;
        padding: 0 5px;
        margin: 0 10px;
        font-size: 22px;
    } 
    a.active{
            border-bottom: solid 4px getColor(green);
            border-radius: 2px;
    }
    
}