section{
    .container{
        @extend .container-flex;
    }

    .circle1{
        height: 150px;
        width: 150px;
        border-color: getColor(orange);
        
    }
    .circle2{
        height: 200px;
        width: 200px;
        border-color: getColor(green);
    }
    .circle3{
        height: 250px;
        width: 250px;
        border-color: getColor(black);
    }
}