$font-primary: "open sans", sans-serif;
$font-headings: "montserrat", sans-serif;

$colours: (
    orange: #E28413,
    green: #059F81,
    black: #000022,
    white: #FFFFFF,
    lightgrey: #F2F2F2,
    darkgrey: #2C2C2C,
    black: #000022
);

@function getColor($color) {
    @return map-get($colours, $color);
}

